<%= image_tag('helios.jpg', class: 'image_tag')%>
<p>This image was located in this section of the test view, by using image_tag util from RoR. This tag returns an HTML image tag for the source. The source can be a full path, a file, or an Active Storage attachment.</p>